
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


html {
    font-size: 10px;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #F8FAFB;
}

@media only screen and (min-width : 2200px) {
    
    html {
        font-size: 13px;
    }
    }


    @media only screen and (max-width : 1440px) {
    
        html {
            font-size: 10px;
        }
        }

    @media only screen and (max-width : 1024px) {
    
        html {
            font-size: 7px;
        }
        }

        @media only screen and (max-width : 768px) {
    
            html {
                font-size: 5px;
            }
            }

            @media only screen and (max-width : 425px) {
    
                html {
                    font-size: 3.5px;
                }
                }